<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.osx-tajik-keyboard</string>
	<key>CFBundleName</key>
	<string>osx-russian-keyboard</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>KLInfo_Russian - Phonetic - ЯВЕРТ</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.osx-tajik-keyboard.russian-phonetic-яверт</string>
		<key>TISIntendedLanguage</key>
		<string>ru-RU</string>
	</dict>
</dict>
</plist>
